@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

img {
  max-width: 100%;
}

.m_cont {
  display: none;
}

@media screen and (max-width:800px) {
  .pc_count {
    display: none;
  }
}

header {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 15;
}

.hd-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 4% 1%;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.hd-inner.open {
  padding: 0.3% 4% 0.4%;
  background: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.hd-inner-left,
.hd-inner-right {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hd-inner-center {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hd-inner-right {
  justify-content: flex-end;
}

.group_wrap {
  position: relative;
  width: 140px;
  height: 40px;
}

.group_btn {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.group_img {
  position: relative;
  width: 14px;
  height: 16px;
  background: url("../img/header/share_w.png") 50% 50%/100% no-repeat;
}

.hd-inner.open .group_img {
  background: url("../img/header/share_b.png")0 0/100% no-repeat;
}

.hd-inner.open .group_text>p {
  color: black;
}

.hd-inner.open .call_btn {
  background: url("../img/header/call_b.png")0 0/100% no-repeat;
}

.group_text {
  position: relative;
  width: auto;
  height: 22px;
  line-height: 22px;
}

.group_text>p {
  color: #fff;
}

.doctors_group_text>p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  transform-origin: right top;
  transform: scaleX(0);
  transition: transform .8s cubic-bezier(1, 0, 0, 1);
}

.hd-inner-center .logo {
  width: 10rem;
  height: 3.5rem;
  background: url("../img/header/logo_w.png") 50% 50%/100% no-repeat;
}

.hd-inner.open .logo {
  background: url("../img/header/logo_b.png") 50% 50%/100% no-repeat;
}

.counsel_quick_wrap {
  position: relative;
  width: 145px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hd-inner-right .counsel_quick {
  position: relative;
  width: 45px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 100%;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.hd-inner.open .counsel_quick {
  border: 1px solid #010101;
}

.hd-inner-right .counsel_quick:hover {
  width: 150px;
  background: #fff;
  border-radius: 50px;
}

.hd-inner-right.tnb-open .counsel_quick {
  border: 1px solid #010101;
}

.hd-inner.open .counsel_quick {
  width: 150px;
  border: 1px solid #010101;
  border-radius: 50px;
}

.hd-inner.open .counsel_quick:hover {
  width: 150px;
  transition: 0.8s ease-in-out;
  border: 1px solid #fff;
  background: #010101;
  border-radius: 50px;
}

.counsel_quick_wrap .counsel_quick_svg {
  padding-left: 4px;
}

.counsel_quick_wrap .counsel_quick_svg>svg>g>path {
  stroke: #fff;
}

.counsel_quick_wrap:hover .counsel_quick_svg>svg>g>path {
  stroke: #010101;
}

.hd-inner.open .counsel_quick_wrap .counsel_quick_svg>svg>g>path {
  stroke: #010101;
}

.hd-inner.open .counsel_quick_wrap:hover .counsel_quick_svg>svg>g>path {
  stroke: #fff;
}

.counsel_quick_wrap .counsel_quick_text {
  position: relative;
  width: auto;
  height: 40px;
  line-height: 38px;
  text-align: center;
}

.counsel_quick_wrap .counsel_quick_text>p {
  color: #fff;
}

.counsel_quick_wrap:hover .counsel_quick_text>p {
  color: #010101;
}

.hd-inner.open .counsel_quick_wrap .counsel_quick_text>p {
  color: #010101;
}

.hd-inner.open .counsel_quick_wrap:hover .counsel_quick_text>p {
  color: #fff;
}

.counsel_quick_text1 {
  animation: counsel_quick_text1 infinite 2.8s ease-in-out alternate;
}

.counsel_quick_text2 {
  letter-spacing: 0.02em;
  animation: counsel_quick_text2 infinite 2.8s ease-in-out alternate;
}

.counsel_quick:hover .counsel_quick_text1 {
  animation: counsel_quick_text3 forwards 2.8s 0.6s ease-in-out alternate;
}

.counsel_quick:hover .counsel_quick_text2 {
  animation: counsel_quick_text4 forwards 2.8s 0.6s ease-in-out alternate;
}

@keyframes counsel_quick_text1 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  60% {
    opacity: 0;
    transform: translateY(-20px);
  }

  80% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes counsel_quick_text2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  20% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 0;
    transform: translateY(-20px);
  }

  60% {
    opacity: 1;
    transform: translateY(-38px);
  }

  80% {
    opacity: 1;
    transform: translateY(-38px);
  }

  100% {
    opacity: 1;
    transform: translateY(-38px);
  }
}

.hd-inner-right .gnb-wrap {
  display: none;
}

.hamburger {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 20px;
  background: none;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 20;
}

.hamburger_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.hamburger_box {
  position: relative;
  width: 100%;
  height: 100%;
}

.hamburger_line {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hamburger_line_close {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

.hamburger .line {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  background: #fff;
  border-radius: 100%;
  transition: background 0.7s ease-in-out;
}

.hamburger .line_close {
  width: 38px;
  height: 2px;
  background: #fff;
  border-radius: 10px;
  transition: background 0.7s ease-in-out;
}

.hamburger.tnb-open .line {
  background: #101010;
}

.hamburger.tnb-open .line_close {
  background: #101010;
}

.hd-inner.open .line {
  background: #101010;
}

.hd-inner.open .line_close {
  background: #101010;
}

.hd-inner.open .line {
  background: #101010;
}

.hd-inner.open .line_close {
  background: #101010;
}

.hamburger.open .line {
  background: #fff;
}

.hamburger.open .line_close {
  background: #fff;
}

.line_close1 {
  transform: translateY(10px) rotate(45deg);
}

.line_close2 {
  transform: translateY(-10px) rotate(-45deg);
}

.hamburger .hamburger_line {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s ease-in-out;
}

.hamburger .hamburger_line_close {
  opacity: 0;
  transform: translateY(0px);
  transition: 0.5s 0.15s ease-in-out;
}

.hamburger.on .hamburger_line {
  opacity: 0;
  transform: translateY(-40px);
  transition: 0.5s 0.15s ease-in-out;
}

.hamburger.on .hamburger_line_close {
  opacity: 1;
  transform: translateY(-40px);
  transition: 0.5s ease-in-out;
}

.hd-inner.open .line {
  background: black;
}

/* gnb */
.gnb-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  opacity: 1;
  visibility: hidden;
  transition: opacity .1s cubic-bezier(0.23, 1, 0.320, 1);
}

.gnb-outer.on {
  opacity: 1;
  visibility: visible;
}

.gnb-inner {
  width: 100%;
  height: 100%;
  display: flex;
}

.gnb-inner__all {
  position: relative;
  height: 0;
  transform: translateY(-100%);
  opacity: 1;
}

.gnb-inner__all {
  width: 100%;
  padding: 8rem 5% 0;
  background: #000;
}

.gnb-inner__all.on {
  height: 100vh;
  transition: all 1.4s 0.6s ease;
}

.gnb-outer.on .gnb-inner__all {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1.4s 0.2s ease;
}

.gnb-logo {
  position: absolute;
  top: 60px;
  left: 80px;
  width: 9%;
  padding: 1% 0;
  text-indent: -9999px;
}

.gnb-menu-list {
  position: relative;
  width: 85%;
  margin: 8% auto 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.gnb-menu-list-m {
  display: none;
  width: 100%;
}

.gnb-menu-depth1 {
  position: relative;
  margin-bottom: 3%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  opacity: 0.5;
}

.gnb-menu-depth1.on {
  opacity: 1;
}

.gnb-menu-depth1>.gnb-menu-img-text {
  width: 100%;
  margin-bottom: 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gnb-menu-depth1>.gnb-menu-img-text>a {
  display: block;
  opacity: 0;
  transform: translateY(150%);
  text-align: center;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.gnb-menu-depth1>.gnb-menu-img-text>a>p {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
}

.gnb-menu-depth1>.gnb-menu-img-text>a>p:nth-child(1) {
  font-size: 2rem;
  color: #908468;
}

.gnb-menu-depth1>.gnb-menu-img-text>a>p:nth-child(2) {
  font-size: 3rem;
}

.gnb-outer.on .gnb-menu-list>li:nth-child(1)>.gnb-menu-img-text>a {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1.2s 0.4s ease;
}

.gnb-outer.on .gnb-menu-list>li:nth-child(2)>.gnb-menu-img-text>a {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1.2s 0.7s ease;
}

.gnb-outer.on .gnb-menu-list>li:nth-child(3)>.gnb-menu-img-text>a {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1.2s 1s ease;
}

.gnb-outer.on .gnb-menu-list>li:nth-child(4)>.gnb-menu-img-text>a {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1.2s 1.3s ease;
}

.gnb-menu-depth1:hover>.gnb-menu-img-text {
  color: #fff;
}

.gnb-menu-depth1.on>.gnb-menu-img-text {
  color: #fff;
}

.gnb-menu-depth2 {
  text-align: left;
  overflow: hidden;
}

.gnb-menu-depth2>li {
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}

.gnb-menu-depth2>li>a {
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(-150%);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.gnb-outer.on .gnb-menu-depth2.gnb-menu-depth2-1>li>a {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1.4s 1.5s ease;
}

.gnb-outer.on .gnb-menu-depth2.gnb-menu-depth2-2>li>a {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1.4s 1.8s ease;
}

.gnb-outer.on .gnb-menu-depth2.gnb-menu-depth2-3>li>a {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1.4s 2.1s ease;
}

.gnb-outer.on .gnb-menu-depth2.gnb-menu-depth2-4>li>a {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1.4s 2.4s ease;
}

.gnb-menu-depth2>li:hover>a {
  color: #dbdbdb;
}

.gnb-menu-depth2>li>a>span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
  transform-origin: right top;
  transform: scale(0, 1);
}

.gnb-menu-depth2>li:hover>a>span::after {
  transform-origin: left top;
  transform: scale(1, 1)
}

.ellipse-frame {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.ellipse-frame-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: url("../img/header/gnb_bg01.jpg")0% 0%/cover no-repeat;
  transition: all 1s ease;
}

.frame-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}

.frame-bg-01 {
  opacity: 0;
  background: url("../img/header/gnb_bg01.jpg")0% 0%/cover no-repeat;
}

.frame-bg-02 {
  opacity: 0;
  background: url("../img/header/gnb_bg02.jpg")0% 0%/cover no-repeat;
}

.frame-bg-03 {
  opacity: 0;
  background: url("../img/header/gnb_bg03.jpg")0% 0%/cover no-repeat;
}

.frame-bg-04 {
  opacity: 0;
  background: url("../img/header/gnb_bg04.jpg")0% 0%/cover no-repeat;
}

.ellipse-frame.bg-none .ellipse-frame-bg {
  opacity: 0;
  width: 100%;
  transition: all 1s ease;
  z-index: 10;
}

.frame-bg.frame-bg-01.active {
  opacity: 1;
  width: 100%;
  transition: all 1s ease;
  z-index: 10;
}

.frame-bg.frame-bg-02.active {
  opacity: 1;
  width: 100%;
  transition: all 1s ease;
  z-index: 10;
}

.frame-bg.frame-bg-03.active {
  opacity: 1;
  width: 100%;
  transition: all 1s ease;
  z-index: 10;
}

.frame-bg.frame-bg-04.active {
  opacity: 1;
  width: 100%;
  transition: all 1s ease;
  z-index: 10;
}

.gnb_bottom_copyright {
  position: absolute;
  bottom: 4%;
  right: 4%;
  color: #c2c2c2;
  opacity: 0.5;
  font-size: 12px;
}

.section1 {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 576px;
  max-height: 1200px;
  background-color: #fff;
  overflow: hidden;
}

.swiper-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-container .swiper-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

.swiper-container .swiper-slide {
  overflow: hidden;
}

.slider_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.slider_img:nth-child(1) {
  background: url("../img/cont1/slider01.jpg") 50% 50%/cover no-repeat;
}

.slider_img:nth-child(2) {
  background: url("../img/cont1/slider02.jpg") 50% 50%/cover no-repeat;
}

.slider_img:nth-child(3) {
  background: url("../img/cont1/slider03.jpg") 50% 50%/cover no-repeat;
}

/* .swiper-container > .swiper-pagination.main_slider_pagination{width: auto; height: auto; bottom:10%; left:10%; transform:translate(-50%); -webkit-transform:translate(-50%); -moz-transform:translate(-50%); -ms-transform:translate(-50%); -o-transform:translate(-50%); text-align:center; padding:0;}
.swiper-container > .swiper-pagination.main_slider_pagination > .swiper-pagination-bullet{width:6px; height:6px; margin:5px 12px; border-radius:100%; padding:0; background:rgba(255, 255, 255, 0.7); opacity:1;}
.swiper-container > .swiper-pagination.main_slider_pagination > .swiper-pagination-bullet-active{width:15px; height:15px; border:none; background:none; margin:0px 12px; border-radius:100%; padding:0; opacity:1;} */
.slider_text_wrap {
  position: absolute;
  top: 62%;
  left: 7%;
  color: #fff;
}

.slider_text01 {
  padding: 1% 0 1%;
  overflow: hidden;
}

.slider_text01>p {
  letter-spacing: .2em;
}

.slider_text02 {
  padding: 0 0 3%;
  overflow: hidden;
  font-size: 60px;
}

.section2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 200px 0;
}

.section2-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section2-wrap>div {
  width: 33%;
}

.section2_img {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 4% 0 0;
  align-items: center;
  justify-content: center;
}

.section2_img_box {
  width: 68%;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 20px;
}

.section2_img_box img {
  overflow: hidden;
}

.img_text_wrap>p {
  padding: 2% 0;
}

.img_text_wrap .img_text01 {
  font-size: 3.125rem;
}

.img_text_wrap .img_text02 {
  font-weight: 400;
}

.section2_text_wrap {
  text-align: center;
  padding: 4% 0 0;
}

.text_list h1.text_cont {
  font-size: 3.125rem;
}

.text_list {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.section2_btn {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #c2b093;
  border-radius: 50px;
  overflow: hidden;
}

.section2_btn:hover {
  background: #c2b093;
  transition: background 0.4s 0.1s ease-in-out;
}

.section2_btn>a {
  display: block;
}

.section2_btn>a>p {
  color: #c2b093;
  line-height: 45px;
  letter-spacing: 0.02em;
}

.section2_btn>a>p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.4s ease-in-out;
  z-index: -1;
}

.section2_btn:hover>a>p {
  color: #fff;
}

.section2_btn:hover>a>p::after {
  width: 100%;
  background: #c2b093;
  transition: 0.4s ease-in-out;
}

.section2_text02 {
  margin-bottom: 30px;
}

.section2_text03 {
  margin-bottom: 60px;
}

span.arrow_right {
  display: inline-block;
  width: 20px;
  height: 11px;
  background: url("../img/arrow.svg") 50% 50%/100% no-repeat;
}

.main_cont02_btn:hover span.arrow_right {
  background: url("../img/arrow.svg") 50% 50%/100% no-repeat;
}

.section3 {
  position: relative;
  width: 100%;
  margin-top: -10%;
  overflow: hidden;
}

.section3_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
}

.section3_text_wrap {
  padding: 4% 0 0;
  text-align: center;
}

.section3_text02>h1,
.section3_text03>h1 {
  font-size: 3.5rem;
  line-height: 1.3;
}

.section3_text_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section3_img_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section3_vodeo_wrap {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
}

.section3_vodeo {
  position: relative;
  width: 100%;
  margin-top: -4%;
  margin-left: auto;
  margin-right: auto;
}

.section3_vodeo_text {
  display: block;
  padding: 4% 2%;
  color: #fff;
  line-height: 1.4;
}

.section3_img {
  position: relative;
  width: 100%;
  padding-top: 5%;
  z-index: -1;
}

.section3_img_box {
  position: relative;
  width: 100%;
  max-width: 1257px;
}

.section3_img_box_text01 {
  position: absolute;
  top: 50px;
  left: 50px;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.12em;
}

.section3_img_box_text02 {
  display: none;
  position: absolute;
  bottom: 84px;
  right: -30px;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.12em;
}

.section3_btn {
  position: absolute;
  top: 22%;
  right: 15%;
  width: 170px;
  height: 50px;
  border: 2px solid #c2b093;
  border-radius: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.section3_btn:hover {
  background: #c2b093;
  transition: background 0.4s 0.1s ease-in-out;
  -webkit-transition: background 0.4s 0.1s ease-in-out;
  -moz-transition: background 0.4s 0.1s ease-in-out;
  -ms-transition: background 0.4s 0.1s ease-in-out;
  -o-transition: background 0.4s 0.1s ease-in-out;
}

.section3_btn>a {
  display: block;
}

.section3_btn>a>p {
  color: #c2b093;
  line-height: 45px;
  letter-spacing: 0.02em;
  padding-left: 15px;
}

.section3_btn>a>p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
}

.section3_btn:hover>a>p {
  color: #fff;
}

.section3_btn:hover>a>p::after {
  width: 100%;
  background: #c2b093;
  transition: 0.4s ease-in-out;
}

.section3_btn:hover span.arrow_right {
  background: url("../img/arrow.svg") 50% 50%/100% no-repeat;
}

.section4 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section4_wrap {
  position: relative;
  width: 100%;
}

.section4_text_wrap {
  padding: 4% 0 0;
  text-align: center;
}

.section4_text02>h1, .section4_text03>h1 {
  font-size: 3.5rem;
  line-height: 1.3;
}

.section4_img_wrap {
  position: relative;
  width: 100%;
  padding-top: 4%;
}

.section4_img_wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/cont4/cont4_bg.png") 53% 40%/24% no-repeat;
  opacity: 0.6;
  transform: scale(0);
  z-index: -1;
}

.section4_img_wrap.on::after {
  transform: scale(1);
  transition: transform 1.6s 0.4s ease;
}

.section4_img {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4_img_box {
  position: relative;
  width: 100%;
  max-width: 90%;
  padding-bottom: 6%;
}

.section4_hover_box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.section4_hover_list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.section4_hover_list>a {
  padding: 37% 10% 3%;
}

.section4_hover_list .section4_hover_list_text01 {
  font-size: 2.5rem;
}

.section4_hover_list .section4_hover_list_text>p {
  display: block;
  position: relative;
  color: #000;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  padding-bottom: 40px;
  text-align: center;
}

.section4_hover_box::after {
  content: '';
  position: absolute;
  top: 65%;
  left: 4%;
  width: 0%;
  height: 2px;
  background: #e5e3df;
  transition: 1.8s 0.8s ease-in-out;
}

.section4_img_wrap.on .section4_hover_box::after {
  width: 90%;
}

.section4_btn {
  position: absolute;
  top: 22%;
  right: 15%;
  width: 170px;
  height: 50px;
  border: 2px solid #c2b093;
  border-radius: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.section4_btn:hover {
  background: #c2b093;
  transition: background 0.4s 0.1s ease-in-out;
}

.section4_btn>a {
  display: block;
}

.section4_btn>a>p {
  color: #c2b093;
  line-height: 45px;
  letter-spacing: 0.02em;
  padding-left: 15px;
}

.section4_btn>a>p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
}

.section4_btn:hover>a>p {
  color: #fff;
}

.section4_btn:hover>a>p::after {
  width: 100%;
  background: #c2b093;
  transition: 0.4s ease-in-out;
}

.section4_btn:hover span.arrow_right {
  background: url("../img/arrow.svg") 50% 50%/100% no-repeat;
}

.section4_hover_cursor {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 177px;
  height: auto;
  border-top-left-radius: 100% 80%;
  border-top-right-radius: 100% 80%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.section4_hover_cursor02 {
  left: 50%;
}

.section4_hover_cursor03 {
  left: 50%;
}

.section4_hover_list>a:hover .section4_hover_list_text01 {
  z-index: 2;
}

.section4_hover_list>a:hover .section4_hover_list_text02 {
  z-index: 2;
}

.section4_hover_list>a:hover .section4_hover_list_text03 {
  z-index: 2;
}

.section4_btn {
  position: absolute;
  top: 25%;
  right: 20%;
  width: 185px;
  height: 50px;
  border: 2px solid #c2b093;
  border-radius: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.section4_btn:hover {
  background: #c2b093;
  transition: background 0.4s 0.1s ease-in-out;
}

.section4_btn>a {
  display: block;
}

.section4_btn>a>p {
  color: #c2b093;
  line-height: 45px;
  letter-spacing: 0.02em;
}

.section4_btn>a>p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.section4_btn:hover>a>p {
  color: #fff;
}

.section4_btn:hover>a>p::after {
  width: 100%;
  background: #c2b093;
  transition: 0.4s ease-in-out;
}

.section4_btn:hover span.arrow_right {
  background: url("../img/arrow.svg") 50% 50%/100% no-repeat;
}

.section5 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section5_bg {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: .84;
  overflow: hidden;
}

.section5_wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 34%;
  left: 50%;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

.section5_cont_box01 {
  position: relative;
  text-align: center;
  width: 80%;
  color: #fff;
}

.section5_info_top_text {
  padding-bottom: 12%;
  font-size: 3.125rem;
  line-height: 1.4;
}

.section5_info_list_wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.section5_info_list {
  position: relative;
  width: 25%;
}

.section5_info_list .txt {
  font-size: 1.063rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.section5_info_list .marcellus {
  font-size: 2.125rem;
  line-height: 1.6;
  color: #fff;
}

.section5_info_list02:after {
  content: '';
  position: absolute;
  top: 15%;
  left: 0;
  width: 1px;
  height: 80%;
  background: #707070;
}

.section5_info_list02:before {
  content: '';
  position: absolute;
  top: 15%;
  right: 0;
  width: 1px;
  height: 80%;
  background: #707070;
}

.section5_info_list03 .txt {
  margin-bottom: 20px;
  font-size: 1.063rem;
  line-height: 1.6;
}

.section5_info_list03 .noraml {
  margin-bottom: 20px;
  font-size: 1.125rem;
  line-height: 1.3;
}

.section5_cont_box02 {
  width: 380px;
  height: 430px;
  position: relative;
  margin-top: 5%;
}

.counsel-form-area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 365px;
  opacity: 1;
  transform: translate(-40%, -45%);
}

.counsel-form-box {
  position: relative;
  width: 100%;
  max-width: 340px;
  height: 30rem;
  margin: 0 auto;
  z-index: 0;
  color: white;
}

.counsel-form-box input[type=submit] {
  width: 272px;
  height: 60px;
  border-radius: 10px;
  background-color: #b6a58b;
  padding: 8px;
  border: 0;
  color: #fff;
  position: absolute;
  left: 10%;
  bottom: 90px;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}

.counsel-text1 {
  padding: 5% 0px 5%;
  font-size: 1.8rem;
  justify-content: center;
  text-align: center;
}

.counsel-form-inputs {
  width: 84%;
  margin: 0 auto;
}

.counsel_name, .counsel_hp, .counsel_subject {
  width: 100%;
  padding: 8px 5px;
  height: 4.2em;
  appearance: none;
  background: none;
  font-size: 1rem;
  border: none;
}

.counsel_name input, .counsel_hp input, .counsel_subject select {
  border: 0;
  padding: 14px;
  box-shadow: 2px 2px 10px rgba(55, 55, 55, .25);
  line-height: 1.5;
  width: 100%;
  height: 100%;
  font-size: 0.95rem;
}

.counsel_subject select {
  background-color: #fff;
  color: #000;
}

.counsel-form-agree {
  display: block;
}

.hotspot {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 4%;
  margin-left: 20%;
  transition: opacity 0.3s ease 0.1s;
}

.hotspot.open {
  border-radius: 0 0;
  width: 370px;
  height: 330px;
  position: absolute;
  bottom: -60px;
  left: -25.5%;
  background-color: #fff;
  color: #424242;
}

.hotspot.open .icon {
  /* background-image: url('../img/icon_close.svg'); */
  top: 0px;
  left: 320px;
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.hotspot.open .infoBtn {
  width: 100%;
  text-align: right;
  display: block;
  font-size: 13px;
  line-height: 1;
  color: #bbb;
  font-weight: 300;
  text-decoration: underline;
}

.hotspot.open .content {
  opacity: 1;
  transition: opacity 0.2s ease 0.2s;
}

.hotspot.open .content p::after {
  content: '';
  clear: both;
  display: block;
}

.hotspot.open .content p:last-of-type {
  position: absolute;
  bottom: 20px;
  left: 28%;
}

.hotspot .icon {
  position: relative;
  width: 18px;
  height: 18px;
  text-align: center;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  z-index: 10;
  transition: all 0s ease;
  border-radius: 20px;
}

.hotspot .icon.sub_icon {
  background-color: transparent;
}

.hotspot .icon.sub1_4_icon {
  border: 1px solid #777;
}

.hotspot.open .icon.sub1_4_icon {
  border: none;
}

.hotspot .icon.checked {
  background-color: #fff;
}

.hotspot.open .icon.checked {
  background-color: transparent;
}

.hotspot .icon::after {
  content: '개인정보 수집/이용 동의하기';
  font-size: 14px;
  color: #fff;
  letter-spacing: -0.06em;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 20px;
  width: 230px;
  text-align: left;
  text-indent: 5px;
  font-weight: 400;
}

.hotspot .icon.sub1_4_icon::after {
  color: #777;
}

.hotspot .aa::after {
  color: #fff;
}

.hotspot.open .icon::after {
  content: '';
  display: none;
}

.hotspot .content {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.1s ease 0s;
  padding: 40px 20px 20px;
}

.hotspot .content .counsel-btn {
  padding: 10px 20px;
  line-height: 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: 0px 0px 5px #422133;
}

.hotspot.left-top .icon {
  top: 0;
  left: 0;
}

.hotspot.right-top .icon {
  left: auto;
  top: 0;
  right: 0;
}

.hotspot.left-bottom .icon {
  left: 0;
  bottom: 0;
}

.hotspot.right-bottom .icon {
  bottom: 0;
  right: 0;
}

.hotspot .mgt10 {
  margin-top: 20px
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}

.footer_inner {
  position: relative;
  width: 100%;
  padding: 1.5% 0 1.5% 3%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.footer_info-link {
  width: 100%;
  padding: 0 0 1.5rem;
  color: #fff;
  opacity: 0.8;
  display: flex;
}

.footer_info-link>a {
  display: block;
  margin-right: 2.5rem;
  position: relative;
}

.footer_info-link>a::after {
  content: '';
  position: absolute;
  top: 20%;
  left: calc(100% + 1.25rem);
  width: 1px;
  height: 60%;
  background: #fff;
  opacity: 0.8;
}

.footer_info-link>a:last-child::after {
  display: none
}

.footer_info {
  position: relative;
  width: 40%;
}

.footer_info li {
  position: relative;
  display: inline-block;
  font-size: 0.75rem;
  color: #d0d0d0;
  opacity: 0.8;
  margin: 0 1rem 0.5rem 0;
}

.footer_info li:first-child:after {
  display: none;
}

.familysite_btn {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 120px;
  height: 54px;
}

.familysite_btn>p {
  display: block;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 36px;
  line-height: 32px;
  text-align: center;
  background: #000;
  color: #fff;
  border: 1px solid #b9a990;
  border-radius: 50px;
  font-size: .875rem;
}

.footer_arrow_right {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4%;
  background: url("../img/cont5/fs-arrow.svg") 50% 50%/cover no-repeat;
  transform: rotate(90deg);
}

.footer-select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-select>li {
  font-size: .938rem;
}

.footer-select>li>a {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 8px;
  padding: 2% 0;
}

.footer-select>li>a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  transform-origin: right top;
  transform: scaleX(0);
}

.progress-area {
  position: fixed;
  right: 40px;
  bottom: 30px;
  width: 138px;
  height: 138px;
  cursor: pointer;
  z-index: 11;
  opacity: 1;
}

.progress-bg {
  width: 100%;
  height: 100%;
  background: url("../img/quick-bg.png")0 0/100% no-repeat;
}

.progress-percent {
  position: absolute;
  top: 38%;
  left: 25%;
  width: 50%;
  text-align: center;
  color: #e6e6e6;
}

.progress-area .progress-percent>span {
  display: inline-block;
  width: 23px;
  height: 28px;
  margin: 6% 0 0 -1%;
  text-indent: -9999px;
  background: url("../img/quick-arrow.png") 50% 50%/100% no-repeat;
  transform: rotate(179deg);
  font-size: 1.5rem;
}

.topbtn-up-arrow {
  width: 23px;
  height: 26px;
  position: absolute;
  top: 42%;
  left: calc(50% - 12px);
  display: block;
  background: none;
  opacity: 0;
  visibility: hidden;
}

.topbtn-up-arrow>span {
  display: inline-block;
  color: #e6e6e6;
  margin: 8% 0 0 -48%;
  text-align: center;
  letter-spacing: .04em;
  font-weight: 400;
  font-size: 1rem;
}

@media screen (max-width: 1400px) {
  .m_cont {
    display: block;
    opacity: 1;
  }

  .section3_btn {
    top: 24%;
    right: 16%;
  }

  .section4_img_box {
    max-width: 100%;
  }

  .section4_hover_box {
    justify-content: space-evenly;
  }

  .section4_hover_box::after {
    top: 60%;
  }

  .section4_hover_list {
    width: auto;
  }

  .section4_hover_list>a {
    padding: 110px 0% 4%;
  }

  .section4_btn {
    top: 22%;
    right: 8%;
  }
}
